---

---

<div class="w-full md:w-96 md:max-w-full mx-auto">
  <div class="p-4 rounded-2xl bg-white bg-opacity-85 shadow-xl border-black border-[.5px] border-opacity-50">
    <form id="contactForm" class="py-6 px-9">
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-black">
          Numele
        </label>
        <input type="text" name="name" id="name" placeholder="Introduceți numele dvs."
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium text-black">
          Adresa Email
        </label>
        <input type="email" name="email" id="email" placeholder="example@domain.com"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-black focus:shadow-md" />
      </div>

      <div class="mb-5">
        <label for="message" class="mb-3 block text-base font-medium text-black">
          Mesajul
        </label>
        <textarea name="message" id="message" placeholder="Ce ați dorit să ne comunicați?"
          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-black focus:shadow-md"></textarea>
      </div>
      <div>
        <button type="submit"
          class="trans hover:shadow-form w-full hover:opacity-90 rounded-md bg-black py-2 px-4 text-center text-base font-popp text-white outline-none">
          TRIMITEȚI
        </button>
      </div>
    </form>
  </div>
</div>

<script>

</script>