---
import { Icon } from 'astro-icon'
---

<div id="modal"
  class="fixed opacity-0  overflow-hidden left-0 top-0 w-screen h-screen bg-black bg-opacity-40 trans hidden justify-center items-center">
  <div id="modWindow"
    class="relative p-8 rounded-2xl bg-white bg-opacity-85 shadow-xl border-black border-[.5px] border-opacity-50  ">
    <button id="closeMod" class="absolute right-3 top-3">
      <svg aria-hidden="true" class="fill-black" width="32" height="32" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M10.657 12.071L5 6.414L6.414 5l5.657 5.657L17.728 5l1.414 1.414l-5.657 5.657l5.657 5.657l-1.414 1.414l-5.657-5.657l-5.657 5.657L5 17.728z">
        </path>
      </svg>
    </button>
    <h3 class="text-black font-medium sm:text-base text-sm text-center my-4">Oferți datele de contact, sau contactați-ne
      direct</h3>
    <div class="flex flex-col gap-8">
      <div class="flex gap-4 md:flex-row flex-col">
        <input type="email" name="phone" id="phone" placeholder="Numărul de telefon"
          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-sm md:text-base font-medium text-[#6B7280] outline-none focus:border-black focus:shadow-md" />
        <button class="px-4 py-2 bg-black text-white trans hover:opacity-90 rounded-md" type="submit">Trimiteți</button>
      </div>
      <div class="flex flex-col gap-2 justify-center items-center text-black text-xl">
        <a href="mailto:112@medasist.md" class="flex gap-2 items-center justify-start ">
          <span>112@medasist.md</span>
        </a>
        <a href="tel:+37368722687" class="flex gap-2 items-center justify-start ">
          <span>+37368722687</span>
        </a>
      </div>
    </div>
  </div>
</div>


<script>
  import '../scripts/hero.js';
</script>