---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Despre noi">
  <div class="container px-4 mx-auto text-black ">
    <h1 class="md:text-6xl sm:text-5xl text-3xl font-popp font-bold text-left my-8">DESPRE NOI</h1>
    <!-- First Block -->
    <div class="flex lg:justify-between items-center flex-col-reverse lg:flex-row gap-4">
      <p class="max-w-3xl text-base sm:text-xl">Suntem o echipa moderna adaptata nevoilor dumneavoastra Înființată ca
        o
        alternativă la
        spitalizarea
        prelungită, precum si ca o soluţie pentru cazurile tot mai frecvente în care pacienţii nu pot sau nu vor să
        părăsească mediul familial din propria casa. MEDASIST reușește să realizeze o îngrijire medicală
        calificată, la cele mai înalte standarde de calitate, chiar la tine acasă, acolo unde tu te simţi cel mai
        bine, si unde şansele de vindecare sunt mult mai mari.

      </p>
      <img src="/medicine.svg" alt="doctors" class="sm:max-w-xl max-w-xs">
    </div>
    <!-- Second Block -->
    <h2 class=" my-12 text-3xl sm:text-2r font-bold  text-center md:text-left">VIZIUNEA MEDASIST</h2>
    <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
      <img src="/doctor.svg" alt="doctors" class="sm:max-w-xl max-w-xs ">
      <p class="max-w-3xl text-base sm:text-xl">Scopul nostru este acela de a asigura asistenţă medicală
        profesională la domiciliul pacientului, conform unui plan de îngrijire recomandat de medicul curant, adaptat
        fiecărui pacient în parte. Totodată oferim informaţii şi asistenţă familiei, pentru a asigura cele mai
        bune îngrijiri, în cele mai bune condiţii.
      </p>
    </div>
    <!-- Third Block -->
    <h2 class=" my-12 text-3xl sm:text-2r font-bold  text-center md:text-left">DE CE SERVICII MEDICALE LA DOMICILIU?
    </h2>
    <div class="flex lg:justify-between items-center flex-col lg:flex-row gap-4">
      <div class="flex flex-col gap-4">
        <p class="text-base sm:text-xl">Familia și căldura unui cămin înseamnă pentru cei mai mulți
          oameni un loc de refugiu din calea suferinței în care se află. Acesta este unul din motivele pentru care
          majoritatea pacienților preferă să fie îngrijiți acasă, într-un cadru familial în care își pot
          desfășura în continuare măcar o parte din activitățile zilnice și unde se pot bucura în permanență
          de prezența și susținerea celor apropiați.
        </p>
        <p class="text-base sm:text-xl">În plus, boala este mai greu de suportat în spitale, departe de cei dragi și
          de atmosfera caldă și familiară a căminului dumneavoastră. Pe de altă parte, a îngriji un bolnav
          într-un mediu ostil lui, precum sunt spitalele, și a-l pune la eforturi suplimentare precum statul la cozi,
          aglomerație, stres, gălăgie, lipsa intimității, comofrt scăzut, etc., îi pot diminua sau întârzia
          acestuia vindecarea.
        </p>
        <p class="text-base sm:text-xl">Mai mult, ar fi de preferat ca fiecare pacient să fie tratat separat de restul
          bolnavilor, evitând în acest fel contactarea altor infecții intraspitalicești.
        </p>
      </div>
    </div>
  </div>
</Layout>