---
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import '../styles/global.css'
let { title } = Astro.props
---

<html lang="ro" class="font-popp">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Poppins:wght@400;500;700&display=swap"
    rel="stylesheet">
  <title>{title}</title>
</head>

<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
  <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script is:inline>
    AOS.init();
  </script>
</body>

</html>